<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <style>
    div {
      text-align: center;
      display: flex;
    }

    pre {
      font-family: monospace;
      font-size: clamp(10px, 1.5vw, 14px);  /* tamaño adaptable pero controlado */
      box-sizing: border-box;
      margin: 0 auto;
      padding: 0;
      white-space: pre;
    }

  </style>
</head>
<body>
    <main>
        <div class="ascii-container">
        <pre><code style="color: #E50000;">
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣤⣤⣤⣴⣯⣿⣶⣶⣶⠖⠒⠒⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡄⠀⠀⠠⣦⣀⣛⣛⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡄⢀⣀⣀⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣾⣿⣶⣶⣤⡄⠀⠉⢩⣿⣿⣿⣿⣛⠫⠙⠂⣻⣿⣿⣷⡌⠙⣿⣿⣿⣷⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡴⣾⣿⣿⣿⣿⣿⣿⣿⣿⣷⠀⠈⠋⠁⠀⠀⠀⠀⠀⠀⢹⣿⣿⣿⠀⠀⣠⣼⣿⣿⣿⣷⣶⣦⣄⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⣾⣿⣿⡿⠟⠂⠉⠛⢿⣿⣿⣿⠆⠀⠀⠀⠀⠀⠀⢀⣠⣿⣿⣿⠿⠀⣰⣿⣿⠟⠉⠉⢹⣿⡿⢿⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⣠⣾⣿⢿⢿⣿⣟⡋⠀⠀⠀⠀⠘⣻⣿⣿⣦⠀⠀⠀⠀⣀⣿⣿⣿⣿⡿⠟⠀⠀⢹⣿⣿⡀⠀⠀⣼⣿⡿⠈⢻⣿⣿⣶⡆⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠐⣬⣉⠔⢱⣿⡟⠉⠀⠀⠀⠀⠀⠀⣿⣿⣿⡏⠀⣀⣴⣿⣿⣿⣿⡟⠟⠁⠀⠀⠀⠀⠛⣿⣿⣶⣿⣿⡿⠃⠀⠈⠉⣽⣿⣿⣶⡄⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠙⠉⠀⠀⠀⠀⠀⠀⠀⣿⣿⣿⣧⣾⣿⣿⡿⢿⠏⠉⠀⢀⣀⣠⣤⣤⣤⣤⣬⣿⣿⣍⡉⠀⠀⠀⠀⠀⠀⢽⣿⣿⣿⣤⠀⠀⠀⠀⠀
  ⠀⠀⠀⣼⠀⢀⡄⢀⣴⣆⣴⣶⣤⣤⠀⠀⠀⠀⠀⢰⣿⣿⣿⣿⣿⣿⠿⠁⠀⣠⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣶⣤⣀⠀⠀⠀⠉⣻⣿⣿⣇⠀⠀⠀⠀
  ⠀⠀⢰⣏⣰⣿⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣗⣀⠀⣼⣿⣿⣿⣿⡿⠇⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠈⠻⣿⣿⡆⠀⠀⠀
  ⠀⢀⣾⣿⣿⣿⣿⠿⠋⠉⠉⠉⠻⠿⣿⣿⣿⣿⣥⣼⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠙⠻⣿⣿⣿⣿⣿⣿⣿⣦⡀⠈⠻⢿⣷⡄⠀⠀
  ⠀⣟⣿⣿⣿⡿⠛⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⡄⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⡇⠀⠈⠉⠛⠀⢀⠀⠈⢻⣿⣿⠿⣿⣿⣿⣿⣦⠈⠻⣿⣷⣠⠀
  ⠀⣿⣿⣿⣿⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣿⣿⣿⣿⣿⣿⣿⣶⣦⣄⣀⣠⠀⣠⣾⣿⣿⠿⠛⠓⠀⠀⠀⠀⢠⣿⣷⣦⣄⠙⠁⠀⠈⢿⣿⣿⣿⣷⡀⢾⣿⣿⡀
  ⢰⣿⢻⣻⣿⡏⠀⠀⠀⠀⠀⢤⣤⣤⣶⡄⠀⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣯⣤⣤⣤⡄⢀⣠⣿⣿⣿⣿⣿⣷⡄⠀⠀⠘⣿⣿⣿⣿⣷⡈⢿⣿⡇
  ⠻⠟⢸⠇⠿⠿⠀⠀⠀⢀⣤⣿⣿⣿⣿⣿⠀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⢻⣿⣿⣿⣿⣷⠈⣿⡇
  ⠐⠶⣋⠀⠀⠀⠀⠀⠀⠁⠙⠻⢿⣿⣿⣿⡆⠀⠀⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠸⡿⣿⣿⣿⣿⡇⠸⡇
  ⠀⣿⣿⠀⠀⠀⠀⣠⡤⠀⠀⠀⠀⠙⢿⣿⣷⡀⠀⠀⠘⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠹⣿⣿⣷⠀⠃
  ⠀⢿⣿⠀⢴⣷⣾⣿⣿⣿⣿⣂⡀⠀⢸⣿⣿⣷⡄⠀⠀⠀⠉⠙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀⠀⠀⢀⣿⣿⣿⠀⠀
  ⠀⣾⣿⣇⣾⡟⠁⠀⠀⠉⢿⣿⡟⠂⢿⣿⠉⢻⣿⣦⣀⠀⠀⠀⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⢿⣿⣿⣿⣿⡇⠀⠀⢸⣿⣿⣿⠀⠀
  ⠀⠨⣿⣿⣿⠀⠀⠀⠀⠀⠀⣿⣷⡆⠛⠁⠀⠀⠙⠻⣿⣿⣶⣤⣼⣿⣿⣿⣿⠋⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⡇⠀⣿⣿⣿⣿⣿⠀⠀⣾⣿⣿⡿⠀⠀
  ⠀⠀⠘⣿⣷⣄⠀⠀⠀⢀⣰⣿⡏⠃⠀⠀⠀⠀⠀⠀⠀⠙⠻⢿⣿⣿⣿⣿⠃⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡀⠀⣿⣿⣿⣿⣿⠀⠀⢹⣿⣿⡇⠀⠀
  ⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⡟⠹⠃⠀⠀⠀⠀⢠⣤⡀⠀⠀⠀⠀⠈⣻⡿⠃⠀⠀⢸⣿⣿⣿⣿⣿⣿⠟⢻⣿⣿⣿⣿⣿⡉⠃⢠⣿⣿⣿⣿⣿⠀⠀⠀⣿⡿⠀⠀⠀
  ⠀⠀⠀⠈⣻⣿⡄⠀⠘⠉⠀⠀⠀⠀⠀⢀⣴⣶⣾⣿⣄⠀⠀⠀⠈⠁⠀⠀⠀⠀⠀⠙⣿⣿⣿⣿⡏⠀⣼⣿⣿⣿⣿⣿⡗⠀⠀⠈⣿⣿⣿⡇⠀⠀⢰⣿⠃⠀⠀⠀
  ⠀⠀⠀⠀⠙⢿⣿⣄⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⣿⣿⣿⣷⣤⣀⠀⠀⠀⠀⠀⢀⣠⣴⣿⣿⣿⣿⡇⠀⣿⣿⣿⣿⣿⣇⠃⠀⠀⣼⣿⣿⣿⠁⠀⢠⣿⠃⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⢾⣿⣧⡀⠀⠀⠀⠀⠀⠘⠙⠉⠉⠛⠻⣿⣿⡿⠿⠿⠿⣿⣿⣿⣿⣿⣿⡿⠿⣿⠇⢰⣿⣿⣿⣿⢿⡏⠀⣠⣾⣿⣿⣿⠃⠀⣠⡿⠃⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⢩⣿⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠃⣠⣿⣿⣿⣿⡿⠈⠀⢺⣿⣿⣿⡿⠃⢀⣼⠟⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⣛⣿⣶⣄⡀⠀⠀⠀⠀⠀⠀⢈⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣾⣿⣿⣿⡟⠛⠁⠀⠀⢈⣿⣿⠟⠁⡴⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⠻⢿⣿⣶⣦⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣴⣾⣿⣿⣿⠻⠟⠁⠀⠀⢀⣤⣾⡿⠋⠀⠊⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠻⠿⠿⣿⣿⣿⣶⣶⣶⣶⣶⣶⣶⣿⣿⣿⣿⣿⣿⠟⠻⠟⠁⠀⣰⣶⣶⣿⣿⠟⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠛⠛⠛⠛⢻⣿⣿⡿⠛⣻⣿⡿⠋⠙⠋⠁⠀⠀⢀⣠⣾⣿⡿⠟⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
                              ⠤⠤⣤⣤⣤⣤⣴⣶⡾⠿⠟⠛⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        </code></pre>
        </div>
        <p style="text-align: center;">
            <br>¡Buenos Días!<br>
            La fecha de hoy es: <span id="fecha"></span>
        </p>
    </main>

    <script>
      const hoy = new Date();
      const opciones = { year: 'numeric', month: 'long', day: 'numeric' };
      document.getElementById('fecha').textContent = hoy.toLocaleDateString('es-ES', opciones);


      function sendHeight() {
          const main = document.querySelector('body');
          const rect = main.getBoundingClientRect();
          const height = Math.ceil(rect.height) + 50;

          parent.postMessage(
              { type: 'resize-iframe', height},
              '*'
          );
      }

      window.addEventListener('load', sendHeight);
      window.addEventListener('resize', sendHeight);


    </script>
</body>


</html>